<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Experiencias</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-end mb-4">
                    <!-- <h2 class="text-primary fw-bolder mb-0">Experiencia</h2> -->
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="botonMagico" style="text-decoration: none; font-size: medium;" href="assets/CV-Felipe-Ortiz.pdf" download>
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Descargar
                    </a>
                </div>
                <!-- Experience Card 4-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2021 - 2022</div>
                                    <div class="small fw-bolder">Desarrollador full stack.</div>
                                    <div class="small text-muted">La junta nacional de cuerpos de bomberos de Chile.</div>
                                    <div class="small text-muted">Providencia, Stg.</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Ingeniería y desarrollo de proyectos web con tecnologias como Laravel · Vue.js · JIRA · Joomla! · PostgreSQL · MySQL · Git · Moodle · Livewire · GitHub.</div></div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2019 - 2021</div>
                                    <div class="small fw-bolder">Desarrollador de aplicaciones web.</div>
                                    <div class="small text-muted">VrWeb.</div>
                                    <div class="small text-muted">Providencia, Stg.</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Desarrollo de proyectos web, e-commerce y movil con tecnologias como Kotlin · PrestaShop · Android · PHP · JavaScript · PostgreSQL · jQuery · MySQL.</div></div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 3-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2016 - 2018</div>
                                    <div class="small fw-bolder">Analista y soporte de sistemas.</div>
                                    <div class="small text-muted">Policomp.</div>
                                    <div class="small text-muted">Providencia, Stg.</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Soporte tecnico y analisis de problemas para clientes IBM/Banco Santander, ITAU, Disney, SMU y Sura.</div></div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Divider-->
            <div class="pb-5"></div>

            
        </div>
    </div>
</div>