<!-- Projects Section-->
<section class="py-5">
  <div class="container px-5 mb-5">
      <div class="text-center mb-5">
          <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Proyectos</span></h1>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-11 col-xl-9 col-xxl-8">
              <!-- Project Card 1-->
              <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                  <div class="card-body p-0">
                      <div class="d-flex align-items-center">
                          <div class="p-5">
                              <h2 class="fw-bolder">Sistema de votación</h2>
                              <p>Tiene como objetivo proporcionar una solución confiable y conveniente para realizar procesos electorales en línea, mejorando la accesibilidad y la eficiencia del proceso de votación.</p>
                          </div>
                          <img class="img-fluid" src="assets/sistema-votacion.png" alt="..." />
                      </div>
                  </div>
              </div>
              <!-- Project Card 2-->
              <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class="card-body p-0">
                    <div class="d-flex align-items-center">
                        <div class="p-5">
                            <h2 class="fw-bolder">Portafolios</h2>
                            <p>Tiene como objetivo crear una presencia en línea profesional y atractiva para el titular, permitiéndole mostrar su trabajo de manera efectiva y atraer oportunidades laborales o colaboraciones. El portafolio web servirá como una herramienta esencial para presentar y destacar los logros y habilidades del titular ante un público más.</p>
                        </div>
                        <img class="img-fluid" src="assets/portafolio.png" alt="..." />
                    </div>
                </div>
            </div>
              <!-- Project Card 3-->
              <div class="card overflow-hidden shadow rounded-4 border-0">
                  <div class="card-body p-0">
                      <div class="d-flex align-items-center">
                          <div class="p-5">
                              <h2 class="fw-bolder">DadosApp</h2>
                              <p>Proporcionará una forma conveniente y confiable de generar resultados aleatorios basados en los valores numéricos de los dados. Su simplicidad y versatilidad la hacen útil para una variedad de propósitos, incluyendo juegos de mesa, actividades educativas o cualquier situación en la que se requiera aleatoriedad controlada.</p>
                          </div>
                          <img class="img-fluid" src="assets/TuDadosApp2.PNG" alt="..." height="400px" width="300px"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
      <div class="text-center">
          <h2 class="display-4 fw-bolder mb-4">¡Construyamos algo juntos!</h2>
          <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/contacto" routerLinkActive="active">
            Contactame
          </a>
      </div>
  </div>
</section>