<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Proyectos</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="h-100 px-5 pt-5 pb-3 rounded-3">
                            <h2 class="fw-bolder">Aplicaciones y sistemas web</h2>
                            <p>Son herramientas digitales que permiten a los usuarios interactuar con contenido y realizar tareas a través de un navegador web. Estas soluciones ofrecen comodidad, accesibilidad y eficiencia al tiempo que cumplen con diversos objetivos y necesidades en diferentes áreas.</p>
                        </div>
                        <div id="carouselExample" class="border mb-5 mx-2 carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/img/projects/portafolios/fortiz.png" class="d-block w-100"
                                        alt="Imagen 1">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/projects/portafolios/portafolio-1.png" class="d-block w-100"
                                        alt="Imagen 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/projects/portafolios/portafolio-2.png" class="d-block w-100"
                                        alt="Imagen 1">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="h-100 px-5 pt-5 pb-3 rounded-3">
                            <h2 class="fw-bolder">Portafolios</h2>
                            <p>Tiene como objetivo crear una presencia en línea profesional y atractiva para el titular,
                                permitiéndole mostrar su trabajo de manera efectiva y atraer oportunidades laborales o
                                colaboraciones. El portafolio web servirá como una herramienta esencial para presentar y
                                destacar los logros y habilidades del titular ante un público más exigente.</p>
                        </div>
                        <div id="carouselExample" class="border mb-5 mx-2 carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/img/projects/portafolios/fortiz.png" class="d-block w-100"
                                        alt="Imagen 1">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/projects/portafolios/portafolio-1.png" class="d-block w-100"
                                        alt="Imagen 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/projects/portafolios/portafolio-2.png" class="d-block w-100"
                                        alt="Imagen 1">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Project Card 3-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="h-100 px-5 pt-5 pb-3 rounded-3">
                            <h2 class="fw-bolder">Aplicaciones móviles</h2>
                            <p>También conocidas como apps móviles, son programas informáticos diseñados específicamente para funcionar en dispositivos móviles, como teléfonos inteligentes y tabletas. Estas aplicaciones están desarrolladas para aprovechar las capacidades y características únicas de los dispositivos móviles, como la pantalla táctil, la cámara, el GPS y los sensores de movimiento.</p>
                        </div>
                        <div id="carouselExample" class="border mb-5 mx-2 carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/img/projects/portafolios/fortiz.png" class="d-block w-100"
                                        alt="Imagen 1">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/projects/portafolios/portafolio-1.png" class="d-block w-100"
                                        alt="Imagen 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/projects/portafolios/portafolio-2.png" class="d-block w-100"
                                        alt="Imagen 1">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">¡Construyamos algo juntos!</h2>
            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/contacto"
                routerLinkActive="active">
                Contactame
            </a>
        </div>
    </div>
</section>