<!-- <nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</nav> -->

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
  <div class="container px-5">
      <a class="navbar-brand" href="#"><span class="fw-bolder">Portafolio</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
              <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">Resumen</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/projects" routerLinkActive="active">Proyectos</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a></li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
